In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('spotify_data.csv')

In [22]:
#afficher les valeurs null
df.isnull().sum()

trackName           0
artistName          0
msPlayed            0
genre               0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
type                0
id                  0
uri                 0
track_href          0
analysis_url        0
duration_ms         0
time_signature      0
dtype: int64

In [21]:
#changement des genres non connus à inconnu 
df['genre'].fillna('Inconnu', inplace=True)
#suppression des lignes avec des données vides
df.dropna(inplace=True)

In [23]:
features = ['trackName', 'danceability', 'energy', 'valence', 'tempo', 'acousticness', 'instrumentalness']
X = df[features]

In [11]:
X.head()

   danceability  energy  valence    tempo  acousticness  instrumentalness
0         0.476   0.799    0.577  162.139        0.0162          0.000000
1         0.475   0.130    0.122  112.241        0.9160          0.956000
2         0.691   0.814    0.509  132.012        0.0164          0.000000
3         0.624   0.596    0.896  120.969        0.4750          0.203000
4         0.625   0.726    0.507  124.945        0.0158          0.000169